@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>I promise to invade as much privacy as humanly possible. 
I will be the bane of privacy. 
They will know me as the privacy exterminator. 
People 10,000 years in the future will reference my name when talking about the extinction of privacy.</p>
